body{
	background-color: blue;
	/*didn't want the page to be white as they entered info into the prompt boxes*/
	
}
.big{
	width: 580px;
	height: auto;
	/*external css for image on first page */
}
body{
	background-image: url("tayto-colours.svg");
	
}
.small{
	width: 480px;
	height: auto;
	
	/*external css for image on second page */
}