body{
	background-color: blue;
	/* didn't want it to be white as they filled the prompt boxes"*/
	
}
.big{
	width: 580px;
	height: auto;
	/* external css for first page image*/
}
body{
	background-image: url("tayto-colours.svg");
	
}
.small{
	width: 480px;
	height: auto;
	/* external css for second page image*/
	
}